@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: url('https://w0.peakpx.com/wallpaper/875/835/HD-wallpaper-anime-original-supermarket.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.bg-image{
  background-image : url("image/naruto.png") ;
  background-repeat: no-repeat;
}